<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.externallink) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.twitterurl) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.instagramurl) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.facebookurl) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.googleplusurl) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.linkedinurl) }}
</div>
<div class="mb-4 col-md-6">
	{{ form_row(formUpdateSocial.youtubeurl) }}
</div>
