{% if form %}
	{{ form_start(form, {'attr': {'class': 'pe-xl-3'} }) }}
		<div class="mb-4">
			<label class="form-label" for="form_search">{{ 'Keyword'|trans }}</label>
			<div class="input-label-absolute input-label-absolute-right">
				<div class="label-absolute"><i class="fa fa-search"></i></div>
				{{ form_widget(form.keywords, {'attr': {'class': 'form-control pe-4'} }) }}
				{{ form_errors(form.keywords) }}
			</div>
		</div>
		<div class="mb-4">
			<label class="form-label">{{ form_label(form.categories, 'Category'|trans) }}</label>
			<ul class="list-unstyled mb-0">
				<li>
					{{ form_widget(form.categories) }}
				</li>
			</ul>
		</div>
		<div class="mb-4">
			<button class="btn btn-primary" type="submit"> 
				<i class="fas fa-filter me-1"></i>{{ 'Filter'|trans }}
			</button>
		</div>
	{{ form_end(form) }}
{% endif %}
