<header class="header">
	<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
		<div class="container-fluid">
			<div class="d-flex align-items-center">
				<a class="navbar-brand py-1" href="{{ path('home') }}">
					<img src="{{ absolute_url(asset(setting.getAppLayoutSettings.getLogoPath)) }}" alt="{{ setting.getSettings('website_name') }}">
				</a>
				<form class="form-inline d-none d-sm-flex" action="#" id="search">
					<div class="input-label-absolute input-label-absolute-left input-expand ms-lg-2 ms-xl-3">
						<label class="label-absolute" for="search_search">
							<i class="fa fa-search"></i>
							<span class="sr-only">{{'What are you looking for?'|trans}}</span>
						</label>
						<input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="search_search" placeholder="{{'Search'|trans}}" aria-label="Search" type="search">
					</div>
				</form>
			</div>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<form class="form-inline mt-4 mb-2 d-sm-none" action="#" id="searchcollapsed">
					<div class="input-label-absolute input-label-absolute-left w-100">
						<label class="label-absolute" for="searchcollapsed_search">
							<i class="fa fa-search"></i>
							<span class="sr-only">{{'What are you looking for?'|trans}}</span>
						</label>
						<input class="form-control form-control-sm border-0 shadow-0 bg-gray-200" id="searchcollapsed_search" placeholder="{{'Search'|trans}}" aria-label="Search" type="search">
					</div>
				</form>
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link{{ routename in 'home' ? ' active' : '' }}" href="{{ path('home') }}">{{ 'Home'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{{ routename in ['blog', 'blog_show', 'blog_show_shared', 'blog_tag', 'blog_category'] ? ' active' : '' }}" href="{{ path('blog') }}">{{ 'Blog'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{{ routename in 'contact' ? ' active' : '' }}" href="{{ path('contact') }}">{{'Contact'|trans}}</a>
					</li>
					{% if is_granted("ROLE_MODERATOR") %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle " id="docsDropdownMenuLink" href="index.html" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{'Links'|trans}}
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="docsDropdownMenuLink">
								<h6 class="dropdown-header fw-normal">{{ 'Approved'|trans }}</h6>
								{% if is_granted('ROLE_SUPER_ADMIN') %}
									<a class="dropdown-item" href="{{ ea_administrator_url('CommentCrudController') }}">{{ 'Comment'|trans }}</a>
									<h6 class="dropdown-header fw-normal">{{ 'Add'|trans }}</h6>
									<a class="dropdown-item" href="{{ ea_administrator_url('PageCrudController', 'new') }}">{{ 'Page'|trans }}</a>
								{% endif %}
								<a class="dropdown-item" href="{{ ea_administrator_url('ArticleCrudController', 'new') }}">{{ 'Article'|trans }}</a>
								{% if ea_edit_current_entity is not null %}
									<div class="dropdown-divider"></div>
									<h6 class="dropdown-header fw-normal">{{ 'Edit'|trans }}</h6>
									<a class="dropdown-item" href="{{ ea_edit_current_entity }}">{{ label_edit_current_entity }}</a>
								{% endif %}
							</div>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="nav-item dropdown ms-lg-3">
							<a id="userDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=""> 
								{% set runtimeConfig = {"thumbnail": {"size": [80, 80] } } %}
								<img 
									class="avatar avatar-sm avatar-border-white me-2" 
									src="{{ app.user.avatarName ? asset(app.user.getAvatarPath | imagine_filter('thumbnail', runtimeConfig)) : app.user.getAvatarPlaceholder }}"
									alt="{{ app.user.nickname }}"
								>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('dashboard_index') }}">{{'Dashboard'|trans}}</a>
								<a class="dropdown-item" href="{{ path('dashboard_account_settings') }}">{{'Personal info'|trans}}</a>
								<div class="dropdown-divider"></div>
								{% if is_granted('IS_IMPERSONATOR') %}
									<a class="dropdown-item" href="{{ impersonation_exit_path(path('home')) }}">
										<i class="fas fa-sign-out-alt me-2 text-muted"></i> 
										{{'Sign out'|trans}}
									</a>
								{% else %}
									<a class="dropdown-item" href="{{ path('security_logout') }}">
										<i class="fas fa-sign-out-alt me-2 text-muted"></i> 
										{{'Sign out'|trans}}
									</a>
								{% endif %}
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_login') }}">{{'Sign in'|trans}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">{{'Sign up'|trans}}</a>
						</li>
						<li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-lg-none d-xl-inline-block">
							<a class="btn btn-primary" href="#">{{'Add a recipe'|trans}}</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
