<hr class="my-3 hr-text letter-spacing-2" data-content="{{ 'OR'|trans({}, 'messages') }}">
<div class="d-grid gap-2">
    <button class="btn btn btn-outline-primary btn-social">
        <i class="fa-2x fa-facebook-f fab btn-social-icon"></i>{{ 'Connect'|trans({}, 'messages') }}
        <span class="d-none d-sm-inline">{{ 'with Facebook'|trans({}, 'messages') }}</span>
    </button>
    <button class="btn btn btn-outline-muted btn-social">
        <i class="fa-2x fa-google fab btn-social-icon"></i>{{ 'Connect'|trans({}, 'messages') }}
        <span class="d-none d-sm-inline">{{ 'with Google'|trans({}, 'messages') }}</span>
    </button>
</div>
