{% extends 'email.html.twig' %}

{% block body %}
    <p>{{ 'Hey'|trans }} {{ user.nickname }}</p>
    <p>{{ 'Someone asked to reset your password. You can do so by following this link.'|trans }}</p>
    <p><a href="{{ absolute_url(path('reset_password_confirm', {id: id, token: token} )) }}">{{ 'Reset my password'|trans }}</a></p>
    <p>{{ 'Thank you'|trans }}</p>
{% endblock %}
