<h5 class="mb-4">{{ 'Leave a comment'|trans }}</h5>
{{ form_start(form, {method: 'POST', action: path('blog_comment_add', {'slug': article.slug}), attr: {class: 'form', id: 'comment-form'} }) }}
    {{ form_errors(form) }}
    <div class="mb-4">
        {{ form_row(form.content) }}
    </div>
    <div class="mb-2">
        {{ form_row(form.isRGPD) }}
    </div>
    <button class="btn btn-primary" type="submit">
        <i class="far fa-comment"></i>
        {{ 'Comment'|trans }}
    </button>
{{ form_end(form) }}
