{% extends "base.html.twig" %}

{% set pagetitle = 'There was an error publishing your comment'|trans({}, 'messages') %}
{% block title pagetitle %}

{% block body %}

    <div>
        <div class="bg-white max-w-7xl mx-auto py-16 px-6 sm:py-24 sm:px-8">
            <div class="gap-12 justify-between lg:flex">
                <div class="max-w-lg space-y-3">
                    <a href="{{ path('blog_show', { slug: article.slug }) }}" class="btn btn-link">
                        <i class="fas fa-arrow-left w-5 h-5 -ml-1 mr-2"></i>
                        {{ 'Back to '|trans }} {{ article.title }}
                    </a>
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                        {{ 'Comment'|trans }} "{{ article.title }}"
                    </h1>
                    <p></p>
                    <div>
                        <div class="mt-6 prose prose-slate max-w-none dark:prose-dark">
                            {{ article.content | html_markdown_excerpt(600) | nl2br }}
                        </div>
                    </div>
                </div>
                <div class="flex-1 sm:max-w-lg lg:max-w-md">
                    <h3 class="text-danger">{{'There was an error publishing your comment'|trans}}</h3>
                    {{ include('blog/comment/_form.html.twig', {form: form}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
