{% extends "base.html.twig" %}

{% set pagetitle = 'My account'|trans %}
{% block title pagetitle %}

{% block body %}

	<section class="py-5">
		<div class="container">
			<ol class="breadcrumb ps-0 justify-content-start">
				<li class="breadcrumb-item">
					<a href="{{ path('home') }}">{{'Home'|trans}}</a>
				</li>
				<li class="breadcrumb-item active">{{pagetitle}}</li>
			</ol>
			<h1 class="hero-heading mb-0">{{pagetitle}}</h1>
			<p class="text-muted mb-5">{{ 'Manage your account and settings here.'|trans }}</p>
			<div class="row">
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#identity-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="{{ path('dashboard_account_personals') }}">{{'Personal info'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Provide personal details and how we can reach you'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#password-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="{{ path('dashboard_account_security') }}">{{'Login & security'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Update your password and secure your account'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#pay-by-card-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="#">{{'Payments & payouts'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Review payments, payouts, coupons, gift cards, and taxes'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#chat-app-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="#">{{'Notifications'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Choose notification preferences and how you want to be contacted'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#diary-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="#">{{'Privacy & sharing'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Control connected apps, what you share, and who sees it'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 mb-30px">
					<div class="card h-100 border-0 shadow hover-animate">
						<div class="card-body">
							<div class="icon-rounded bg-secondary-light mb-3">
								<svg class="svg-icon text-secondary w-2rem h-2rem">
									<use xlink:href="#mix-1"></use>
								</svg>
							</div>
							<h5 class="card-title mb-3">
								<a class="text-decoration-none text-dark stretched-link" href="#">{{'Global preferences'|trans}}</a>
							</h5>
							<p class="text-muted card-text text-sm">{{'Set your default language, currency, and timezone'|trans}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
