{% extends "base.html.twig" %}

{% set runtimeConfig = {"thumbnail": {"size": [80, 80] } } %}

{% set pagetitle = 'Testimonial management'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_account_index": ('My account'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block body %}

	<div>
		<div class="p-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
			<div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-6">
				<div class="min-w-0 flex-1">
					<h1 class="text-2xl font-medium text-slate-900 sm:truncate dark:text-slate-100">
						{{ pagetitle  }} ({{ testimonials | length }})
					</h1>
				</div>
				<div class="-mt-4 flex sm:mt-0 sm:ml-4">
					<a href="{{ path("dashboard_customer_testimonials_create") }}" class="btn btn-primary w-full order-0 sm:order-1 sm:ml-3">
						{{ 'Create'|trans }}
					</a>
				</div>
			</div>
			<div class="bg-white shadow-sm ring-1 ring-slate-200 rounded-md sm:rounded-lg dark:bg-slate-900 dark:ring-white/10 overflow-hidden">
				{#
				<div class="px-4 py-5 rounded-t-md sm:px-6 sm:rounded-t-lg">
					<div class="relative max-w-sm text-slate-400 focus-within:text-slate-600 dark:focus-within:text-slate-200">
						{{ form_start(form, {attr: {method: "GET", action: path("dashboard_testimonial_list", {page: 1})}}) }}
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
								</svg>
							</div>
							{{ form_row(form.keywords) }}
							<button type="submit" class="absolute inset-y-0 right-0 flex items-center pr-3" style="display: none;">
								<svg class="w-5 h-5 text-slate-500 hover:text-slate-600 dark:hover:text-slate-400" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd"></path>
								</svg>
							</button>
						{{ form_end(form) }}
					</div>
				</div>
				#}
				<div class="px-4 py-5 sm:px-6 -mx-4 -my-5 sm:-mx-6">
					<div class="overflow-x-auto">
						<div class="inline-block min-w-full align-middle">
							<div class="relative overflow-hidden">
								<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
									<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
										<tr>
											<th scope="col" class="px-6 py-3">
                                                {{ 'Photo'|trans }} 
												{{ 'Fullname'|trans }}
											</th>
											<th scope="col" class="px-6 py-3">
												{{ 'Rating'|trans }}
											</th>
											<th scope="col" class="px-6 py-3">
												{{ 'Content'|trans }}
											</th>
											<th scope="col" class="px-6 py-3">
												{{ 'Status'|trans }}
											</th>
										</tr>
									</thead>
									<tbody>
										{% for testimonial in testimonials %}
											<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {{ testimonial.isOnline ? "bg-teal-600" }}">
												<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    <div class="flex items-center space-x-4">
                                                        <img 
                                                            class="w-10 h-10 rounded-full" 
                                                            src="{{ testimonial.user.avatarName ? asset(testimonial.user.getAvatarPath | imagine_filter('thumbnail', runtimeConfig)) : testimonial.user.getAvatarPlaceholder }}"
                                                            alt=""
                                                        >
                                                        <div class="font-medium dark:text-white">
                                                            <div>{{ testimonial.user.getFullName | lower | capitalize }}</div>
                                                            <div class="text-sm text-gray-500 dark:text-gray-400">
																{{ 'Joined in'|trans }} {{ testimonial.user.createdAt | formater_datetime('short') }}
															</div>
                                                        </div>
                                                    </div>
												</td>
												<td class="px-6 py-4">
                                                    <span>{% include 'global/rating.html.twig' with {'rating' : testimonial.rating, 'class' : 'flex justify-center'} %}</span>
												</td>
												<td class="px-6 py-4">
													{{ testimonial.comment | html_markdown_excerpt(120) }}
													<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="inline-block w-6">
														<path fill="currentColor" d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z"/>
													</svg>
												</td>
												<td class="px-6 py-4">
                                                    {% if testimonial.isOnline %}
                                                        <span class="badge-green">{{ "Enabled"|trans }}</span>
                                                    {% else %}
                                                        <span class="badge-red">{{ "Disabled"|trans }}</span>
                                                    {% endif %}
												</td>
											</tr>
										{% else %}
											<tr>
												<td class="text-center" colspan="8">{{ 'No result'|trans }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{#
								{% if pages > 1 %}
									{{ include("components/design/pagination/pagination.html.twig", {
										class: "my-5",
										route: "dashboard_testimonial_list",
										current_page: app.request.get("page", 1),
										pages: pages
									}) }}
									
								{% endif %}
								#}
								{{ knp_pagination_render(testimonials, null, {}, {'align': 'center'}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
